<h1>Listing documents</h1>

<div style="float: left;">
  <ul>
  <%= render :partial => "category", :collection => Category.all %>
  </ul>
</div>

<div style="float: right: width: 80%;">
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.title %></td>
        <td><%= document.body %></td>
        <td><%= document.category_title %></td>
        <td><%= link_to 'Show', document %></td>
        <td><%= link_to 'Edit', edit_document_path(document) %></td>
        <td><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @documents %>

<br>

<%= link_to 'New Document', new_document_path %>
</div>
